.App {
  margin: 30px auto;
  width: 80%;
  border: 8px solid #f2f3f3;
  text-align: center;
  border-top: 4px solid #f2f3f3;
  padding: 20px;
}

button.active {
  background-color: #21a7d1;
  color: #fff;
}
.job-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 22px;
}

.row-top-border {
  border-top: 2px solid #f2f3f3;
}

h3,
.twin-buttons {
  text-align: start;
}

h3 {
  font-weight: 600;
  font-size: 20px;
}

button {
  border: 1px solid #21a7d1;
  color: #21a7d1;
  background-color: #fff;
  font-weight: 600;
  font-family: sans-serif;
  padding: 12px;
}

.twin-buttons button:first-child {
  border-right: unset;
  border-radius: 3px 0 0 3px;
}

.twin-buttons button:nth-child(2) {
  border-radius: 0 3px 3px 0;
}

.job-type::first-letter {
  text-transform: capitalize;
}

td p {
  margin: 6px 0;
}
